/* body */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: black;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 50px 15px 0 15px;  
} 

.container__title {
    font-size: 36px;
    text-align: center;
    padding: 57px 0 56px 0;
    text-transform: uppercase;
}

.container__line {
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto;
}

.containet__text {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    padding: 40px 0;
}

.main-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    width: 270px;
    height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.main-btn:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.main-btn:active {
    color: #FFFFFF;
    background-color: #AB4949;
    border: 0;
}

.icon__nav {
    display: inline-flex;
    padding: 35px 0 27px 0;
    gap: 32.8px;
}

.icon__nav a:hover {
    transform: scale(1.2);
    transition: transform 0.25s;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
}

/* body */

.header {
    background-color: #000000;
}

.header .conteiner  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-left: 115px;
}

.header__menu {
    display: flex;
    margin-right: 170px;
}

.header__menu a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    width: 113px;
    padding: 28px 0 28px 0;
    color: #FFFFFF;
    text-decoration-line: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__menu a:active{
    background-color:  #AB4949;
    text-transform: uppercase;
}

.header__menu a:hover{
    background-color: #EC7979;
    text-transform: uppercase;
}

.main {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/main.jpg);  
}

.main__wrapper {
    display: flex; 
}

.main__item {
    padding: 207px 0 185px;
}

.main__item h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding: 50px 0 55px 0;
}

.main__line {
    width: 170px;
    border-top: 1px solid #FFFFFF;
}

.main__item p {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 42px 0;
}

.main__form {
    width: 470px;
	height: 450px;
	background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    margin-top: 207px;
    margin-left: 30px;
}

.main__form h4 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main__form h4 span {
    color: #EC7979;
}

.main__form__client input {
    width: 370px;
    padding: 16px 0;
    margin: 0 50px 36px;
}

.main__form__client .main-btn {
    width: 470px;
    height: 60px;
    font-size: 15px;
    color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    margin-bottom: none;
    margin-top: 33px;
}

.main__form__client .main-btn:hover {
    background-color: #AB4949;
    border: #AB4949;
    color: #FFFFFF;
}
    
.main__form__client .main-btn:active {
    box-shadow: inset 0px 0px 10px #AB4949;
}

.social {
    background-color: #F8EFEF;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.social__item .h4 {
    font-family: 'Open Sans'sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.social__item .text {
    font-size: 18px;
    color: #86878B;
    padding: 18px 0;
}



.about {
    display: flex;
}

.about__wrapper {
    padding: 70px 0 60px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.about__item {
    flex-grow: 1;
}

.about__item__title {
    padding: 71px 0 58px 0;
}

.about__item__text {
    font-size: 18px;
    line-height: 21px;
    padding: 0 16px;
}

.pricing {
    background-color: #F5F5F5;
    display: flex;
}

.pricing__wrapper { 
    padding: 39px 0 50px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.pricing__item {
    background-color: #333333;
    color: #FFFFFF;
    flex-grow: 1;
}

.pricing__item_top{
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    position: relative;
    bottom: 20px;
}

.pricing__black__title {
    font-weight: 700;
    font-size: 24px;
    padding: 17px 0;
    border-bottom: 2px solid #F5F5F5 ;
}

.pricing__black__price {
    font-weight: 700;
    font-size: 36px;
    padding: 31px 0;
    border-bottom: 2px solid #F5F5F5 ;
}

.pricing__black__text {
    color: rgba(225, 225, 225, 0.5);
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 2px solid #F5F5F5 ;
}

.pricing__space__text {
    background-color: #FFFFFF;
    color: #86878B;
    font-size: 18px;
    padding: 15px 0;
    border-bottom: 2px solid #F5F5F5 ; 
}

.reviews {
    display: flex;
}

.reviews__wrapper {
    gap: 30px;
    padding: 41px 0 64px 0;
    display: flex;
}

.reviews__item {
    flex-grow: 1;
}

.reviews__item__text {
    background-color: #E2E2E2;
    border-radius: 10px;
    color: #86878B;
    font-size: 18px;
    line-height: 21px;
    padding: 40px 0;
    text-align: center;
    position: relative;
}

.reviews__item__text::after {
    content: "";
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: absolute;
    bottom: -20px;
    left: 70px;
}

.reviews__item__manager {
    padding-top: 46px;
    display: flex;
}

div.manager {
    position: relative;
    top: 20px;
    left: 20px;
}

p.text {
    padding-top: 25px;
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/banner.jpg);
}

.banner p, .banner h2 {
    color: #FFFFFF;
}

.banner .container__line {
    border-top: 1px solid #FFFFFF;
}

.banner__wrapper {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.banner__wrapper .main-btn {
    width: 370px;
}

.contact__form {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    column-gap: 30px;
}

.contact__form__client input {
    padding-bottom: 19px;
    margin-bottom: 53px;
    width: 571px;
}

.contact__form__client input[type="password"] {
    margin-bottom: 0;
}

.contact__form__client input, .contact__form__client textarea{
    display: block;
    margin-bottom: 50px;
}

textarea {
    width: 569px;
}

.contact__wrapper .main-btn {
    background-color: #EC7979;
    margin: 50px 0;
    margin-left: 50%;
    transform: translate(-50%);
}

.contact__wrapper .main-btn:hover {
    background-color: #AB4949;
    border: #AB4949;
    color: #FFFFFF;
}

.contact__wrapper .main-btn:active {
    box-shadow: inset 0px 0px 10px #AB4949;
}

.footer {
    background-color: #000000;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p.footer__text {
    display: flex;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 27px;
}


.tabs__wrapper {
    margin: 0px 0px 50px 0px;
}
.tabs__items {
    display: flex;
}

.tabs__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    color: #333333;
    text-decoration-line: none;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    padding: 10px 82px; 
}

.tabs__item:nth-child(2) {
    border: none;
}

.tabs__item:nth-child(3) {
    border: none;
}

.tabs__item:nth-child(2):hover {
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}

.tabs__item:nth-child(3):hover {
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}

.tabs__block {
    font-size: 18px;
    display: none;
    border: 1px solid #C6CBCD;
    border-top: none;
}

.tabs__block .tabs__text {
    display: flex;
}

.tabs__block h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding: 33px 0 33px 85px
}

.tabs__block h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 38px 36px 38px 85px;
}

.tabs__line {
    width: 964px;
    border-top: 1px solid #C6CBCD;
    margin-left: 205px;
}

.tabs__wrapper-btn .main-btn{
    background-color: #EC7979;
    margin-left: 85px;
}

.tabs__wrapper-btn .main-btn:hover {
    background-color: #AB4949;
    border: #AB4949;
    color: #FFFFFF;
}

.tabs__wrapper-btn .main-btn:active {
    box-shadow: inset 0px 0px 10px #AB4949;
}

.tabs__block:target {
    display: block;
}
