body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: black;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 50px 15px 0 15px;  
} 

.container__title {
    font-size: 36px;
    text-align: center;
    padding: 57px 0 56px 0;
    text-transform: uppercase;
}

.container__line {
    width: 170px;
    border-top: 1px solid #EC7979 ;
    margin: 0 auto;
}

.containet__text {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    padding: 40px 0;
}

.about {
    display: flex;
}

.about__wrapper {
    padding: 70px 0 60px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.about__item {
    flex-grow: 1;
}

.about__item__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 71px 0 58px 0;
}

.about__item__text {
    font-size: 18px;
    line-height: 21px;
    padding: 0 16px;
}

.pricing {
    background-color: #F5F5F5;
    display: flex;
}

.pricing__wrapper { 
    padding: 39px 0 50px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.pricing__item {
    background-color: #333333;
    color: #FFFFFF;
    flex-grow: 1;
}

.pricing__item_top{
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    position: relative;
    bottom: 20px;
}

.pricing__black__title {
    font-weight: 700;
    font-size: 24px;
    padding: 17px 0;
    border-bottom: 2px solid #F5F5F5 ;

}

.pricing__black__price {
    font-weight: 700;
    font-size: 36px;
    padding: 31px 0;
    border-bottom: 2px solid #F5F5F5 ;
}

.pricing__black__text {
    color: rgba(225, 225, 225, 0.5);
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 2px solid #F5F5F5 ;
 
}

.pricing__space__text {
    background-color: #FFFFFF;
    color: #86878B;
    font-size: 18px;
    padding: 15px 0;
    border-bottom: 2px solid #F5F5F5 ; 
}

.reviews {
    display: flex;
}

.reviews__wrapper {
    gap: 30px;
    padding: 41px 0 64px 0;
    display: flex;
}

.reviews__item {
    flex-grow: 1;
}

.reviews__item__text {
    background-color: #E2E2E2;
    border-radius: 10px;
    color: #86878B;
    font-size: 18px;
    line-height: 21px;
    padding: 40px 0;
    text-align: center;
}

.reviews__item__triangle {
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: relative;
    left: 70px;
}

.reviews__item__manager {
    padding-top: 46px;
    display: flex;
}

div.manager {
    position: relative;
    top: 20px;
    left: 20px;
}

p.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

p.text {
    padding-top: 25px;
}

