body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: black;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 50px 15px 0 15px;  
} 

.container__title {
    font-size: 36px;
    text-align: center;
    padding: 57px 0 56px 0;
    text-transform: uppercase;
}

.container__line {
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto;
}

.containet__text {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    padding: 40px 0;
}

.main-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    padding: 16px 91px;
}

.header {
    background-color: #000000;
}

.header__conteiner {
    margin: 0 auto;
    padding: 0 115px 0 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    gap: 64px;
}

.header__menu a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration-line: none;
    text-align: center;
    flex-grow: 1;
}

.main {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/main.jpg);  
}

.main__container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;  
}

.main__wrapper {
    display: flex; 
}

.main__item {
    padding: 207px 0 185px;
}

.main__item h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding: 50px 0 55px 0;
}

.main__line {
    width: 170px;
    border-top: 1px solid #FFFFFF;
}

.main__item p {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 42px 0;
}

.main__form {
    width: 470px;
	height: 450px;
	background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    margin-top: 207px;
    margin-left: 30px;
}


.main__form legend {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}

.main__wrapper-btn .main-btn {
    padding: 16px 195px;
    background-color: #EC7979;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

.main__form .contact__form__client{
    width: 370px;
    padding: 16px 50px;
    margin-bottom: 36px;
}

.social {
    background-color: #F8EFEF;
}

.social__container {
    width: 1170px;
    margin: 0 auto;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.social__nav {
    display: inline-flex;
    gap: 30px;
    transform: scale(1.3);
}

.social__item .social {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.social__item .text {
    font-size: 18px;
    color: #86878B;
    padding: 18px 0;
}

.about {
    display: flex;
}

.about__wrapper {
    padding: 70px 0 60px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.about__item {
    flex-grow: 1;
}

.about__item__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 71px 0 58px 0;
}

.about__item__text {
    font-size: 18px;
    line-height: 21px;
    padding: 0 16px;
}

.pricing {
    background-color: #F5F5F5;
    display: flex;
}

.pricing__wrapper { 
    padding: 39px 0 50px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.pricing__item {
    background-color: #333333;
    color: #FFFFFF;
    flex-grow: 1;
}

.pricing__item_top{
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    position: relative;
    bottom: 20px;
}

.pricing__black__title {
    font-weight: 700;
    font-size: 24px;
    padding: 17px 0;
    border-bottom: 2px solid #F5F5F5 ;
}

.pricing__black__price {
    font-weight: 700;
    font-size: 36px;
    padding: 31px 0;
    border-bottom: 2px solid #F5F5F5 ;
}

.pricing__black__text {
    color: rgba(225, 225, 225, 0.5);
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 2px solid #F5F5F5 ;
}

.pricing__space__text {
    background-color: #FFFFFF;
    color: #86878B;
    font-size: 18px;
    padding: 15px 0;
    border-bottom: 2px solid #F5F5F5 ; 
}

.reviews {
    display: flex;
}

.reviews__wrapper {
    gap: 30px;
    padding: 41px 0 64px 0;
    display: flex;
}

.reviews__item {
    flex-grow: 1;
}

.reviews__item__text {
    background-color: #E2E2E2;
    border-radius: 10px;
    color: #86878B;
    font-size: 18px;
    line-height: 21px;
    padding: 40px 0;
    text-align: center;
}

.reviews__item__text::after {
    content: "";
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: relative;
    right: 150px;
    top: 80px;
}

.reviews__item__manager {
    padding-top: 46px;
    display: flex;
}

div.manager {
    position: relative;
    top: 20px;
    left: 20px;
}

p.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

p.text {
    padding-top: 25px;
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/banner.jpg);
}

.banner p, .banner h2 {
    color: #FFFFFF;
}

.banner .container__line {
    border-top: 1px solid #FFFFFF;
}

.banner__wrapper {
    display: flex;
    justify-content: center;
    padding: 50px;
}

a.main-btn {
    display: inline-flex;
}

.banner__wrapper .main-btn {
    padding: 16px 141px;
}

.contact {

}

.contact__form {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
}

.contact__form__client {
    display: flex;
    flex-direction: column;
}

.contact__form .left {
    width: 571px;
}

.contact__form .right {
    width: 569px;
}

textarea {
    resize: none;
}

.contact__form__client input[type="text"],
.contact__form__client input[type="email"],
.contact__form__client input[type="password"],
.contact__form__message textarea { 
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 19px;
    margin-bottom: 56px;

}

.contact__form textarea {
    padding-bottom: 192px;
    overflow: hidden;
    width: 100%;
}

.contact__wrapper {
    display: flex;
    justify-content: center;
}

.contact__wrapper a.main-btn {
    display: inline-flex;
    background-color: #EC7979;
    margin-bottom: 50px;

}

.footer {
    background-color: #000000;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__nav {
    display: inline-flex;
    padding: 35px 0 27px 0;
    gap: 32.8px;
}

p.footer__text {
    display: flex;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 27px;
}
